<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>无标题文档</title>
	<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
</head>

<body>
	<include file="public:left" />
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
    		<li><a href="#">更换外壳</a></li>
    	</ul>
	</div>

	<div class="mainindex">
		<table class="tablelist">
			<tr>
				<th>型号</th>
				<th>颜色</th>
				<th>价格</th>
				<th>图片</th>
				<th>操作</th>
			</tr>
			<volist name='pro' id='v'>
				<tr>
					<td>{$v.number}</td>
					<td>{$v.color}</td>
					<td>{$v.price}</td>
					<td><img scr='__PUBLIC__/Home/{$v.path}'></td>
					<td>
					<input type="button" value="修改" onclick="updateBbs({$v.id})">
					<input type="button" value="删除" onclick="Delete({$v.id})">
					</td>
				</tr>
			</volist>
		</table>
		<button type="button" id="Inadd">添加外壳颜色和价格</button>
	</div>
</body>
<script>
$('#Inadd').click(function(){
	window.location="/shouji/admin.php/Shell/add";
});
</script>
</html>