<!DOCTYPE html>
<html id="order">
<head>
	<title>查询订单</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=yes"/>
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
	<link href="__PUBLIC__/Home/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/css/js-image-slider.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/order.js"></script> 
</head>
<body id="order-body">
	<div class="order-title">
		<img src="__PUBLIC__/Home/images/logo.png">
		<p>让每一个手机的主人不再烦恼</p>	
	</div>
	<div class="order-box">
		<div class="order-m">
			<input type="text" name="" placeholder="请输入您的手机号" id="tel">
		</div>
		<div class="order-m">
			<input type="text" name="" placeholder="输入图片验证码">
			<img src="__PUBLIC__/Home/images/code.jpg">
		</div>
		<!-- <div class="order-m">
			<input type="text" name="">
			<span>获取验证码</span>
		</div> -->
		<button class="order-submit">查询订单</button>
	</div>
</body>
</html>