<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script language="javascript">
$(function(){	
	//导航切换
	$(".imglist li").click(function(){
		$(".imglist li.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>
</head>


<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">正在受理订单</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">   
        <h1 align="content">已受理订单列表</h1>
        <br/>
        <table class="tablelist">   
        <tr>
            <th>手机图片</th>
            <th>手机型号</th>
            <th>颜色</th>
            <th>损坏情况</th>
            <th>用户姓名</th>
            <th>联系方式</th>
            <th>联系地址</th>
            <th>服务说明</th>
            <th>修理价格</th>
            <th>下单时间</th>
            <th>是否受理</th>
        </tr>

        <volist name='obj' id='v'>
            <tr>
                <td>{$v.image}</td>
                <td>{$v.Model_number}</td>
                <td>{$v.color}</td>
                <td>{$v.Damage_reason}</td>
                <td>{$v.user}</td>
                <td>{$v.Contact}</td>
                <td>{$v.path}</td>
                <td>{$v.Service}</td>
                <td>{$v.total_cost}</td>
                <td>{$v.time|date='Y-m-d',###}</td>
                <td><a href="__APP__/Accepted/update/id/{$v.id}">已受理</a></td>
            </tr>
        </volist>
        </table> 
    </div>  
<script type="text/javascript">
	$('.imgtable tbody tr:odd').addClass('odd');
	</script>
</body>
</html>
