<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script language="javascript">
$(function(){	
	//导航切换
	$(".imglist li").click(function(){
		$(".imglist li.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>
</head>


<body>
	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">受理修理损坏</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">   
        <h1 align="content">已受理订单列表</h1>
        <br/>
        <table class="table">   
        <tr>
            <th>原因</th>
            <th>具体原因1</th>
            <th>修理价格1</th>
            <th>具体原因2</th>
            <th>修理价格2</th>
            <th>操作</th>
        </tr>

        <volist name='obj' id='v'>
            <tr>
                <td>{$v.tabulation}</td>
                <td>{$v.question1}</td>
                <td>{$v.The_price1}</td>
                <td>{$v.question2}</td>
                <td>{$v.The_price2}</td>
                <td>
                    <input type="button" value="修改" onclick="updateBbs({$v.id})">
                    <input type="button" value="删除" onclick="delBbs({$v.id})">
                </td>
            </tr>
        </volist>
        </table> 
    </div>  
<script type="text/javascript">
	$('.imgtable tbody tr:odd').addClass('odd');
function delBbs(id){
          if(confirm("是否删除该记录？")){
              window.location = "__APP__/Spoilage/delete/id/"+id;
          }
      }

      function updateBbs(id){
          if(confirm("是否修改该记录？")){
              window.location = "__APP__/Spoilage/find/id/"+id;
          }
          
      }
</script>
</body>
</html>
